header {
    background-color: lightgrey;
    border-left: solid 6px red;
    border-right: solid 6px red;
    position: sticky;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#title {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 6px;
    text-align: center;

}

#title-link {
    text-decoration: none;
    color: black;
}

nav {
    padding: 10px;
    margin-top: 0px;
    text-align: center;
}

.nav-link {
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 3px;
    margin-right: 3px;
    padding: 6px;
    color: darkslategrey;
    text-decoration: none;
}

.nav-link:hover {
    background-color: darkslategrey;
    border: solid 1px darkslategrey;
    border-radius: 6px;
    color: lightgrey;
}

.nav-link:active {
    color: purple;
}

.paragraph {
    font-family: 'Source Sans Pro', sans-serif;
}